<section class="email-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <div class="email-text">
          <p>Lorem Ipsum</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 pad-none">
      </div>
    </div>
  </div>
</section>

<section class="draft-section">
  <div class="container">
    <div class="fantasy-games">
      <div class="col-md-6 col-sm-6">
        <div class="game-block">
          <img src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="game-block">
          <img src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg">
        </div>
      </div>
    </div>
  </div>
</section>

<app-loader></app-loader>
