/* PurplleProduct color code starts */

$black-russian: #080F2C;
$black: #000;
$light-grey: #ececec;
$red: #ff2600;
$midnight-blue: #0b1640;
$royal-blue: #121d47;
$turquoise-blue: #5edadc;
$white: #fff;

/* PurplleProduct color code ends*/
