@import '../shared/scss/shared.scss';

.second-section {
  min-height: 450px;
}

.signup-div {
  background-color: $light-grey;
  border-radius: 10px;
  margin: 30px auto;
  width: 50%;
  padding: 40px 100px 35px 100px;
  text-align: center;

  h1 {
    color: #0bafb5;
    font-size: 33px;
    font-family: 'spartan_mbbold';
    margin-bottom: 20px
  }
}

@media (max-width: 767px) {
  .signup-div {
    width: 100%;

    .social-login img {
      width: 100%;
    }
  }
}
