<footer>
  <div class="container">
    <div class="col-md-7 col-sm-7">
      <ul>
        <li><a href="javascript:void(0)">Contact Support</a></li>
        <li><a href="javascript:void(0)">Terms & Condition</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
        <li><a href="javascript:void(0)"></a></li>
      </ul>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="social-icons">
        <span>
          <a href="https://twitter.com/jainnimish7" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://www.facebook.com/nimish.nitbhopal" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://www.instagram.com/nimish_jn/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </span>
      </div>
      <div class="copyright-section">
        <p>
          © 2020 PurplleProduct, LLC All Rights Reserved -
          <a href="javascript:void(0)">Terms & Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
